 @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #545454;
    font-family: Rubik;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
   
    padding: 40px;
    width: 100%;
    height: auto;
}

.card {
     width: 300px;
     height: 400px;
     padding: 10px;
     background-color: white;
     border-radius: 15px;
     cursor: pointer;
     background: rgb(10,10,10);
     background: linear-gradient(90deg, #0a0a0a 6%, #a42a87 71%);
     /* position: absolute; */
}

.card .face1 img {
    width: 250px;
    height: auto ;
    align-items: center;
    display: flex;
    min-height: 50vh;
    margin-top: 25px;
    margin-left: 15px;
    border-radius: 15px;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 2px 2px 78px 5px rgba(66,17,54,0.96);
    -webkit-box-shadow: 2px 2px 78px 5px rgba(66,17,54,0.96);
    -moz-box-shadow: 2px 2px 78px 5px rgba(66,17,54,0.96);
}


.card .face2 {
    width: 0;
    height: 0;
    
}

.card .face2 h2 {
    color: transparent;
}

.card .face2 p {
    color: transparent;
}


.card:hover .face1{
    width: 0;
    height: 0;

}

.card:hover .face1 img {
    width: 0;
    height: 0;
    color: transparent;
    box-shadow: transparent;
}

.card:hover .face2 {
    width: 300px;
    height: auto;
}

.card:hover h2 {
    color: white ;
    margin-top:20px;
    margin-left: 25px;
    font-size: 20px;
    text-transform: uppercase;
}


.card:hover p {
    color: white;
    font-size: 15px;
    align-items: center;
    margin-top:20px;
    margin-left: 25px;
}
